.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;

  @media (prefers-color-scheme: light) {
    color: #333;
    background-color: #ccc;
  }

  @media (prefers-color-scheme: dark) {
    color: #ccc;
    background-color: #333;
  }
}
